.appBody {
    background: linear-gradient(
        90deg,
        rgb(33, 200, 222) 0%,
        rgb(236, 65, 193) 50%,
        rgb(201, 12, 207) 100%
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 100px;
    margin: 30px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: aquamarine;
    border-radius: 10px;
  }

  .invitationText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: coral;
    font-weight: 600;
    text-align: center;  
    text-shadow: 1px 0 #ffffff83, -0.5px 0 #ffffff83, 0 0.5px #ffffff83, 0 -1px #ffffff83;
  }

  .temmie {
    width: 40vw;
    height:40vw ;
  }
  .sans {
    width: 40vw;
    height:40vw;
  }

  .loader {
    border: 16px solid rgb(201, 12, 207); /* Light grey */
    border-top: 16px rgb(33, 200, 222); /* Blue */
    border-left: 16px solid rgb(33, 200, 222); /* Blue */
    border-bottom: 16px rgb(33, 200, 222);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 5s linear infinite;
  }

  .loaderFast {
    border: 16px solid rgb(201, 12, 207); /* Light grey */
    border-top: 16px rgb(33, 200, 222); /* Blue */
    border-left: 16px solid rgb(33, 200, 222); /* Blue */
    border-bottom: 16px rgb(33, 200, 222);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }