.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CircleClickable {
  position: absolute;
  transition: 0.5s;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: blueviolet;
}

.ClickMe {
  transition: 0.5s;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: indianred;
}
